body{
background-image:url("/home/6CSE1/Downloads/tree-736885__340.jpg");
background-repeat:repeat-y;
background-attachment:fixed;
}

h1{
color:maroon;
margin-left:40px;
}

p.normal{
color:blue;
margin-left:40px;
font-style:italic;
font-family:georgia,garamond,serif;
font-size:40px;
font-weight:normal;
}
p.warning{
color:red;
font-stretch:ultra-expanded;
text-align:center;
direction:rtl;
letter-spacing:5px;
word-spacing:5px;
text-indent:1cm;
}
